@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
  .dark {
    --background: #5b4a08;
    --foreground: #5b4a08;

    --card: #5b4a08;
    --card-foreground: #5b4a08;

    --popover: #5b4a08;
    --popover-foreground: #5b4a08;

    --primary: #5b4a08;
    --primary-foreground: #5b4a08;

    --secondary: #5b4a08;
    --secondary-foreground: #5b4a08;

    --muted: #5b4a08;
    --muted-foreground: #5b4a08;

    --accent: #5b4a08;
    --accent-foreground: #5b4a08;

    --destructive: #5b4a08;
    --destructive-foreground: #5b4a08;

    --border: #5b4a08;
    --input: #5b4a08;
    --ring: #5b4a08;
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
}
