.avatar-dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar-img {
  border-radius: 50%;
  border: 2px solid #ccc; /* Optional border for better visibility */
  transition: border-color 0.3s ease;
  object-fit: cover; /* Ensures the image covers the area with the aspect ratio maintained */
  width: 50px; /* Ensure the width and height are equal */
  height: 50px; /* Ensure the width and height are equal */
}

.avatar-img:hover {
  border-color: #846b31; /* Change border color on hover */
}

.dropdown-content {
  background-color: #453415;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 200px;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.logout-btn,
.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: left;
  color: white;
  background-color: #453415; /* Ensure buttons have the same background color */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-btn:hover,
.profile-link:hover {
  background-color: #b3aa6d;
  transform: translateY(-2px);
}
